.userSearchContainer {
    padding: 5px;
    border: 2px black;
}

.toolbar button {
        margin-right: 5px;
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
    }

#documentTextInput h1, h2, h3, p {
        margin: 10px 0;
    }